/* app.component.css

.custom-card {
    display: flex;
    width: 400px; 
    margin: 10px; 
  }
  
  .card-left {
    flex: 1;
    max-width: 150px; 
    overflow: hidden;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-right {
    flex: 2;
    padding: 0 10px; 
  } */
  
 
 
  